@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	/* Existing Dark Tones */
	--color-dark-1: #2a2530;
	--color-dark-2: #221e26;
	--color-dark-3: #1d1922;
	--color-dark-4: #17131a;
	--color-dark-5: #120f15;
	--color-dark-6: #0d0b10;
	--color-dark-7: #08070a;

	/* New Purple Primary & Tones */
	--color-primary: #9d50bb;

	--color-purple-1: #3b2046; /* Deepest / Muted shadow */
	--color-purple-2: #522d62;
	--color-purple-3: #6a3a7e;
	--color-purple-4: #82479a; /* Mid-tone */
	--color-purple-5: #9d50bb; /* Primary Base */
	--color-purple-6: #b173ca;
	--color-purple-7: #c695d9; /* Lightest / Highlight */
}

@font-face {
	font-family: 'GoogleSans';
	src: url('/fonts/google-sans/GoogleSans.ttf') format('ttf');
}

body {
	background-color: var(--color-dark-6);
	color: white;
	font-family: 'Google Sans';
	min-height: 100vh;
}
