@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-dark-1: #2a2530;
	--color-dark-2: #221e26;
	--color-dark-3: #1d1922;
	--color-dark-4: #17131a;
	--color-dark-5: #120f15;
	--color-dark-6: #0d0b10;
	--color-dark-7: #08070a;

	--color-primary: #ff6f61;
}

body {
	background-color: var(--color-dark-6);
	color: white;
	min-height: 100vh;
}
